Backend/node_modules
Backend/env.yaml
Backend/nodemon.json
Backend/mock
Backend/dist



Deploy/.terraform
Deploy/.terraform.lock.hcl
Deploy/terraform.tfstate
Deploy/terraform.tfstate.backup
Deploy/terraform.exe
Deploy/terraform.tfvars
Deploy/example.py
Deploy/example.zip
Deploy/explan.out

# package directories

Serverless/node_modules
Serverless/jspm_packages
# Serverless directories
Serverless/.serverless
# esbuild directories
Serverless/.esbuild
Serverless/.nvmrc
Serverless/src2


