development:
  PORT: 0
  DATABASE:
    MONGO:
      HOST: 1
      PORT: 2
      USERNAME: D
      PASSWORD: 3
  TOKEN: 
    TIMEOUT: 4
    SECRET_WORD: E

production:
  PORT: 0
  DATABASE:
    MONGO:
      HOST: 1
      PORT: 2
      USERNAME: D
      PASSWORD: 3
  TOKEN: 
      TIMEOUT: 4
      SECRET_WORD: F